<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <span th:replace="fragments :: bootstrapImport"></span>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- header -->
<div th:replace="fragments :: header"></div>

<main class="flex-grow-1 container my-5">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h2>Inscription</h2>
        <a th:href="@{/}"><button class="btn btn-outline-primary" type="button">Retour à l'accueil</button></a>
    </div>

    <!-- Formulaire d'inscription -->
    <form th:action="@{/add}" th:object="${student}" method="post" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label for="nameStudent" class="form-label">Nom :</label>
            <input type="text" id="nameStudent" th:field="*{name}" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Âge :</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" min="0" required />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email :</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" required />
        </div>

        <button type="submit" class="ms-auto mt-4 btn btn-primary">S'inscrire</button>
    </form>

</main>

<!-- footer -->
<div th:replace="fragments :: footer"></div>

</body>
</html>
